@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* extending tailwind theme using colours from Starling site
Tailwind docs:
https://tailwindcss.com/docs/theme#default-theme-variable-reference */

@theme{
  /* fonts */
  --font-roboto: 'Roboto', sans-serif;
  --font-noto-sans: 'Noto Sans', sans-serif;  
  --font-poppins: 'Poppins', sans-serif;
  
  /* colours */
  --color-text-default: #2c1c49;
  --color-text-secondary: #7a708c;
  --color-teal: #50e3c2;
  --color-blue: #1e73be;
  --color-white: #ffffff;
  --color-dark-purple: #2c1c49;
  --color-grey: #958da4;
  --color-black: #000000;
  --color-indigo-blue: #1e1937;
  --color-light-grey: #ebebeb;
  --color-extra-light-grey: #f8f8f8;
  --color-input-border: #e7e7e7;
  --color-input-hover: #f6f6f6;
  --color-input-active-border-colour: #4a90e2;
  --color-home-purple: #6935d3;
  --color-home-teal: #19d3c5;
  --color-home-darkblue: #192851;
  --color-home-peach: #f6efea;
  --color-home-orange: #f08357;
  --color-home-white: #fff;
  --color-button-teal: #68d9cf;
  --color-button-teal-hover: #00c8bb;
}

/* Homepage */
/* :root{
  --f6jvsh0: "Universal Sans",Arial,Helvetica,sans-serif;
  --f6jvsh1: none;
  --f6jvsh2: inherit;
  --f6jvsh3: currentColor;
  --f6jvsh4: #fff;
  --f6jvsh5: #6935d3;
  --f6jvsh6: #19d3c5;
  --f6jvsh7: #192851;
  --f6jvsh8: #f6efea;
  --f6jvsh9: #f08357;
  --f6jvsha: #fff;
  --f6jvshb: #eeeaf6;
  --f6jvshc: #e7f9f7;
  --f6jvshd: #e6e9f2;
  --f6jvshe: #f7f7f7;
  --f6jvshf: #e1d7f6;
  --f6jvshg: #dcf;
  --f6jvshh: #a586e5;
  --f6jvshi: #4a2594;
  --f6jvshj: #4f289e;
  --f6jvshk: #f2f9f7;
  --f6jvshl: #baeae7;
  --f6jvshm: #12948a;
  --f6jvshn: #4ea39b;
  --f6jvsho: #a3a9ba;
  --f6jvshp: #131e3d;
  --f6jvshq: #e3e3e3;
  --f6jvshr: #fdecef;
  --f6jvshs: #ea5c5c;
  --f6jvsht: #4ea39b;
  --f6jvshu: #c3f0ec;
} */

/* Login page */
/* :root {
  --font-size-xs: .75rem;
  --font-size-sm: .875rem;
  --font-size-md: 1rem;
  --text-color: #2c1c49;
  --secondary-text-color: #7a708c;
  --teal: #50e3c2;
  --blue: #1e73be;
  --starling-white: #ffffff;
  --starling-red: #ea5c5c;
  --starling-dark-purple: #2c1c49;
  --starling-grey: #958da4;
  --starling-black: #000000;
  --starling-indigo-blue: #1e1937;
  --light-grey: #ebebeb;
  --extra-light-grey: #f8f8f8;
  --button-primary-colour: var(--starling-dark-purple);
  --button-primary-bg: #68d9cf;
  --button-primary-bg-hover: #00c8bb;
  --button-primary-bg-active: #00b9aa;
  --button-primary-bg-disabled: #8fe6de;
  --button-neutral-colour: #0c6dbb;
  --button-neutral-bg: #eeeeee;
  --button-neutral-bg-hover: #e7e7e7;
  --button-neutral-bg-active: #d0d0d0;
  --button-negative-colour: var(--starling-white);
  --button-negative-bg: #ce3d3d;
  --button-negative-bg-hover: #bb161c;
  --button-negative-bg-active: #8b0e12;
  --button-primary-bg-disabled: #f5d0d0;
  --text-button-colour: var(--blue);
  --text-button-colour-hover: #7fb4e9;
  --text-button-colour-active: #abcef0;
  --text-button-bg: transparent;
  --input-border-colour: #e7e7e7;
  --input-hover-colour: #f6f6f6;
  --input-disabled-colour: var(--input-hover-colour);
  --input-disabled-hover-colour: #ededed;
  --input-active-border-colour: #4a90e2;
  --max-screen-width: 62.5rem
} */